In [ ]:
Q1. What is an API? Give an example, where an API is used in real life.
Q2. Give advantages and disadvantages of using API.
Q3. What is a Web API? Differentiate between API and Web API.
Q4. Explain REST and SOAP Architecture. Mention shortcomings of SOAP.
Q5. Differentiate between REST and SOAP.

Sure, here are the answers to your questions:

**Q1. What is a database? Differentiate between SQL and NoSQL databases.**
- A database is a structured collection of data that is organized and stored for efficient retrieval and manipulation.
- SQL (Structured Query Language) databases are relational databases that store data in tables with predefined schemas, use SQL for querying, and ensure data integrity through relationships.
- NoSQL databases are non-relational databases that store data in flexible formats like key-value pairs, documents, columns, or graphs. They are suited for handling large volumes of unstructured or semi-structured data and offer high scalability.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**
- DDL (Data Definition Language) is a subset of SQL used for defining and managing the structure of a database.
- `CREATE` is used to create a new database, table, view, index, or other database objects.
- `DROP` is used to delete an existing database object.
- `ALTER` is used to modify an existing database object, such as adding a new column to a table.
- `TRUNCATE` is used to remove all records from a table without deleting the table itself.

Example:
```sql
CREATE TABLE Students (
    ID INT PRIMARY KEY,
    Name VARCHAR(50)
);

ALTER TABLE Students
ADD COLUMN Age INT;

TRUNCATE TABLE Students;

DROP TABLE Students;
```

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**
- DML (Data Manipulation Language) is used for manipulating data stored in a database.
- `INSERT` is used to add new records to a table.
- `UPDATE` is used to modify existing records in a table.
- `DELETE` is used to remove records from a table.

Example:
```sql
INSERT INTO Students (ID, Name, Age)
VALUES (1, 'Alice', 20);

UPDATE Students
SET Age = 21
WHERE Name = 'Alice';

DELETE FROM Students
WHERE Age > 21;
```

**Q4. What is DQL? Explain SELECT with an example.**
- DQL (Data Query Language) is used to retrieve data from a database.
- `SELECT` retrieves data from one or more tables based on specified conditions.

Example:
```sql
SELECT Name, Age
FROM Students
WHERE Age >= 18;
```

**Q5. Explain Primary Key and Foreign Key.**
- A Primary Key is a column or set of columns that uniquely identify each row in a table. It ensures data integrity and is used to enforce entity integrity.
- A Foreign Key is a column or set of columns in one table that refers to the Primary Key of another table. It establishes a relationship between tables, maintaining referential integrity.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**
```python
import mysql.connector

# Establishing a connection
db_connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="mydatabase"
)

# Creating a cursor
cursor = db_connection.cursor()

# Executing a SQL query
query = "SELECT * FROM Students"
cursor.execute(query)

# Fetching the result
result = cursor.fetchall()
for row in result:
    print(row)

# Closing the cursor and connection
cursor.close()
db_connection.close()
```
- `cursor()` method creates a cursor object that is used to interact with the database.
- `execute()` method is used to execute an SQL query. It takes the query as an argument and returns the result, which can be fetched using methods like `fetchall()`.

**Q7. Give the order of execution of SQL clauses in an SQL query.**
The order of execution of SQL clauses in a query is as follows:
1. `SELECT`
2. `FROM`
3. `WHERE`
4. `GROUP BY`
5. `HAVING`
6. `ORDER BY`
7. `LIMIT` (or `OFFSET` for pagination)

Please note that not all clauses are required in every query, and the order may change depending on the complexity of the query.